@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    int i = 0;
    string period = ".";
}

<section>
    <div class="container">
        <h3 class="text-center">Role with Summary</h3>
        <div class="row">

            <div class="col-md-12">
                <table name="table" class="table table-striped table-dark" id="myTable">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col" style="float:right">

                            <input type="text" id="search" class="form-control" onkeyup="myFunction()" placeholder="Search for details" title="Type in a name">
                        </div>
                    </div>
                    <br />
                    <tr id="1">
                        <th>
                            Serial
                        </th>

                        <th>
                            Asp.Net User ID
                        </th>
                        <th>
                            Email
                        </th>
                        <th>Role Name</th>
                        
                        <th> Role Id</th>


                        <th>
                            Action
                        </th>

                    </tr>


                    @foreach (var item in ViewBag.empRecord)
                    {
                        @if (@item.Id == @item.Id)
                        {

                            i = i + 1;
                        }
                <tr id= @i>
                    <td >
                        @i@period

                    </td>
                    <td class="row-data"> @item.Id </td>
                    <td class="row-data"> @item.UserName</td>

                    <td class="row-data">@item.RoleName</td>
                    

                    <td class="row-data">@item.RoleId</td>

                    

                    <td>
                        <button class="btn btn-outline-info modifyBtn" id =""> Update/Modify</button>


                        @*<a class="btn btn-outline-info " asp-controller="Administration" asp-action="RoleSeriesWithIdForUpdate" 
                        asp-route-UID="@item.Id" asp-route-PreviousRole="@item.RoleName" > Update/Modify Role</a>*@
                    </td>
                </tr>

                    }
                </table>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- The Modal -->
                <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h4> Are you sure?</h4>
                        
                    <p> The user associated with <br />
                        <b> <span id="Email"></span> </b> <br />
                       @* User Id <span id="aspUserId"></span> <br />
                        Previous Role <b><span id="PreviousRole"></span> </b>*@
                    </p>
                       
                        @*asp-action="RoleSeriesWithIdForUpdate" asp-controller="Administration" *@
                        <form id="RoleForUser" asp-action="ChangeRolesForEveryUser"  asp-controller="Administration" data-ajax-update="#myTable" >
                            <label> New Role</label>
                      <select class="form-control" required name="NewRole" id="NewRole" asp-items="new SelectList(ViewBag.aspRoles)">
                        <option> -- select from available roles --</option>
                    </select>
                    <input type="hidden" name="aspUserId" id="aspUserId"  />
                    <input type="hidden" name="previousRole" id="previousRole"   />                    

                    <br />
                        <div class="row">
                            <div class="col">
                                @*<input id="btnsubmit" type="button" value="Yes" class="btn btn-info w-100 text-white" />*@ 
                               
                                <input type="submit" value="Submit" class="btn btn-info">
                            </div>
                            <div class="col"> <a class="btn btn-danger w-100  text-white " id ="noBtn"> No</a></div>
                            
                        </div>
                        </form>

                    </div>
            </div>
        </div>
    </div>
        </div>
</section>




<script>


    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.querySelectorAll(".modifyBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    var noBtn=document.getElementById("noBtn");    

    // When the user clicks the button, open the modal
        btn.forEach(item => {
        //console.log(item)
        item.onclick = function () {
                 modal.style.display = "block";
                var rowId =event.target.parentNode.parentNode.id;
                console.log(rowId);
                var data = document.getElementById(rowId).querySelectorAll(".row-data"); 
                console.log(data);
                var aspUserId = data[0].innerHTML;
                var email = data[1].innerHTML;
                var previousRole = data[2].innerHTML;
                var roleId = data[3].innerHTML;
                //console.log(aspUserId,email,previousRole,roleId);
                //For showing the data on popup
                document.getElementById("Email").innerHTML = email;
                //document.getElementById("previousRole").innerHTML = previousRole;
                //document.getElementById("aspUserId").innerHTML = aspUserId;

                //For invoking the data on form
                document.getElementById("previousRole").value = previousRole;
                document.getElementById("aspUserId").value = aspUserId;
                

                console.log("Previous Role: " +previousRole);
                console.log("User Id: " +aspUserId);
               
                //document.getElementById("RoleId").innerHTML = roleId;
                

        }
    })
   

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    } 
    noBtn.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }



    //Ajax Jquery 

    
</script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" 
integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" 
crossorigin="anonymous">
</script>

<script>   
    $(document).ready(function () {   
        $("#btnsubmit").click(function (e) {   
            //Serialize the form datas.   
            var valdata = $("#RoleForUser").serialize();   
            //to get alert popup   
             var formData = new FormData();
             formData.append("NewRole", $("#NewRole").val());
             formData.append("previousRole", $("#previousRole").val());
             formData.append("UID", $("#UID").val());

            $.ajax({   
                url: "/Administration/ChangeRolesForEveryUser",   
                type: "POST",   
                dataType: 'json',   
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',   
                data: valdata,  
                success: function(data){ 
                    console.log(data)
                    if(data.success == true){ 
                    alert('success'); 
                    }
                },
                error: function(error){
                 console.log(error);
                    } 
            });
            var pp=$("#myModal");
            
            pp.hide();
        }); 
       
    }); 
    
</script> 
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/additional-methods.min.js"></script>